# Death Row Dataset

## Linear Regression

In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
# Import Death-Row.csv
df = pd.read_csv(Path('./Resources/death-row.csv'))
df.head()

,TDCJ Number,Link,Last Name,First Name,Date of Birth,Gender,Race,Date Received,County,Date of Offense
0,999606,Offender Information,Colone,Joseph,08/13/1978,M,Black,05/09/2017,Jefferson,07/31/2010
1,999605,Offender Information,Falk,John,11/19/1966,M,White,03/01/2017,Walker,09/24/2007
2,999604,Offender Information,"Wells, III",Amos,08/20/1990,M,Black,11/22/2016,Tarrant,07/01/2013
3,999603,Offender Information,Brownlow,Charles,09/16/1977,M,Black,05/23/2016,Kaufman,10/28/2013
4,999602,Offender Information,Bluntson,Demond,11/25/1975,M,Black,05/10/2016,Webb,06/19/2012

In [4]:
# Count the rows in the dataset
len(df.index)

238

In [7]:
# Rename the Last Name, First Name, Date of Birth, Date Received, and Date of Offense columns
df.rename(columns = {"Last Name":"Last_Name","First Name":"First_Name", "Date of Birth":"Date_of_Birth", "Date Received":"Date_Received", "Date of Offense":"Date_of_Offense"}, inplace=True)

In [8]:
df.columns

Index(['TDCJ Number', 'Link', 'Last_Name', 'First_Name', 'Date_of_Birth',
       'Gender', 'Race', 'Date_Received', 'County', 'Date_of_Offense'],
      dtype='object')

### Looking at the data from this resource in its current form, at this time continuing with linear regression will not answer any of our questions with dataset

## Clustering

In [12]:
# Analyze the data to determine if clustering would be appropriate for this dataset to answer the question: 
# Is there a particular zodiac sign that is more likely to be a murderer/on Death Row? 

# Show Data Type for each column
df.dtypes

TDCJ Number         int64
Link               object
Last_Name          object
First_Name         object
Date_of_Birth      object
Gender             object
Race               object
Date_Received      object
County             object
Date_of_Offense    object
dtype: object

In [13]:
# Show all unique values in Description column
print(df["Date_of_Birth"].unique())

['08/13/1978' '11/19/1966' '08/20/1990' '09/16/1977' '11/25/1975'
 '10/23/1969' '12/03/1970' '02/18/1993' '04/07/1967' '09/21/1958'
 '12/27/1979' '07/05/1991' '05/30/1979' '09/07/1974' '02/07/1976'
 '07/22/1959' '09/02/1986' '11/11/1987' '11/18/1966' '08/07/1959'
 '09/17/1975' '01/17/1982' '07/08/1967' '05/03/1979' '07/30/1953'
 '06/07/1979' '09/26/1970' '03/26/1988' '08/23/1989' '02/18/1987'
 '11/30/1972' '06/12/1984' '11/30/1966' '01/27/1982' '12/07/1975'
 '03/05/1970' '12/30/1987' '11/14/1975' '06/25/1972' '01/11/1965'
 '04/23/1979' '09/20/1986' '12/15/1990' '03/14/1971' '12/11/1969'
 '09/01/1948' '12/12/1989' '11/18/1983' '08/31/1980' '11/02/1972'
 '09/22/1975' '03/01/1987' '08/31/1963' '10/30/1988' '11/10/1976'
 '08/24/1979' '04/04/1987' '06/29/1984' '03/17/1981' '02/13/1974'
 '11/26/1985' '10/11/1984' '7/18/1968' '11/20/79' '08/03/1959'
 '03/26/1980' '11/24/1976' '10/01/1980' '06/07/1988' '09/11/1982'
 '05/22/1984' '02/05/1979' '12/31/1979' '01/26/1963' '06/04/1985'
 '03/20/1970' '12/07/1979' '01/03/1956' '08/21/1983' '08/17/1971'
 '11/05/1982' '05/13/1977' '10/26/1979' '09/24/1983' '03/30/1967'
 '07/25/1972' '07/21/1976' '04/03/1981' '05/14/1979' '01/26/1984'
 '06/16/1981' '07/24/1974' '09/02/1970' '03/17/1983' '07/03/1979'
 '03/11/1984' '07/11/1982' '06/25/1962' '01/23/1961' '02/22/1968'
 '02/07/1979' '11/02/1979' '12/24/1984' '06/15/1963' '07/11/1966'
 '03/01/1975' '08/10/1977' '11/20/1979' '08/12/1980' '10/03/1961'
 '11/22/1969' '10/05/1954' '12/21/1973' '08/28/1950' '09/13/1977'
 '01/23/1973' '07/19/1983' '08/14/1979' '05/02/1973' '11/10/1966'
 '11/6/1971' '04/21/1977' '04/18/1972' '09/17/1982' '09/22/1980'
 '06/02/1977' '08/02/1955' '09/18/1979' '06/23/1959' '10/05/1958'
 '06/29/1978' '06/14/1973' '09/29/1974' '08/11/1981' '03/16/1975'
 '09/01/1975' '08/05/1972' '10/05/1969' '06/17/1980' '07/21/1959'
 '02/08/1980' '10/09/1971' '07/15/1979' '09/07/1949' '01/01/1968'
 '05/21/1953' '08/20/1976' '12/01/1964' '05/21/1971' '08/21/1971'
 '09/02/1967' '12/06/1974' '03/09/1977' '03/06/1959' '01/22/1979'
 '01/08/1962' '10/31/1971' '04/17/1979' '01/30/1969' '06/10/1977'
 '06/13/1970' '02/06/1962' '09/25/1967' '10/31/1969' '11/03/1974'
 '05/07/1976' '12/02/1969' '03/29/1970' '03/08/1957' '10/25/1978'
 '04/07/1970' '12/22/1967' '03/06/1971' '10/21/1976' '01/13/1979'
 '01/01/1973' '08/19/1973' '02/09/1956' '05/10/1954' '07/30/1969'
 '01/28/1974' '07/29/1971' '04/15/1976' '01/04/1970' '03/29/1974'
 '12/18/1954' '02/04/1963' '11/05/1974' '10/22/1971' '09/05/1956'
 '11/16/1975' '02/22/1957' '08/31/1974' '09/01/1973' '02/28/1958'
 '04/04/1962' '11/25/1974' '08/14/1970' '03/22/1970' '03/04/1964'
 '03/12/1973' '12/23/1962' '06/19/1973' '05/23/1954' '06/20/1957'
 '05/10/1964' '08/25/1960' '02/27/1955' '01/03/1954' '08/28/1968'
 '09/10/1972' '12/20/1965' '11/24/1967' '07/30/1962' '05/26/1970'
 '03/30/1940' '05/28/1968' '09/09/1948' '12/03/1957' '03/31/1967'
 '04/05/1962' '06/12/1965' '09/19/1965' '04/18/1958' '02/24/1961'
 '08/19/1955' '05/31/1965' '01/12/1959' '12/27/1951' '07/02/1946'
 '10/05/1959' '10/29/1959' '10/18/1956' '05/12/1948' '04/06/1956'
 '04/07/1958' '06/01/1950']

In [15]:
# Count the unique values in the Description column
print(df['Date_of_Birth'].nunique())

237